@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,200&display=swap");
@import "global_variable.scss";
@import "grid.scss";
html,
body {
  font-family: "Poppins", sans-serif !important;
}
.home-main-bg {
  background-image: url(../images/whatsapp-latest.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  .form-main {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    @media screen and (max-width: 767px) {
      position: relative;
    }
    .form-main-inner {
      position: relative;
      margin: 25px 0;
      padding: 25px 25px 45px 25px;
      border: 1px solid $primary-1;
      border-radius: 10px;
      background-color: $semiwhite;
      box-shadow: 0 2px 5px $shadowcolor;
      flex: 1;
      h1 {
        color: $secondary-1;
        font-size: $fs-25;
        margin: 0;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        margin: 15px 0;
        @media screen and (max-width: 767px) {
          margin: 7px 0;
        }
      }
      .mat-form-field {
        width: 100%;
        margin: 10px 0;
      }
      .result {
        font-size: $fs-18;
        color: $primary-1;
        font-weight: 500;
        padding: 15px;
        border: 1px solid $primary-2;
        border-radius: 10px;
        margin: 15px 0;
        box-sizing: border-box;
        resize: none;
        @media screen and (max-width: 767px) {
          margin: 7px 0;
        }
      }
      .generate-btn {
        background-color: $primary-2;
        color: $white;
        font-size: $fs-16;
        margin: 15px 0;
        &.mat-button-disabled {
          opacity: 0.5;
          cursor: not-allowed;
        }
        @media screen and (max-width: 767px) {
          margin: 7px 0;
        }
      }
      .btn-icon-main {
        margin: 15px 5px;
        &.copy {
          border: 1px solid $primary-3;
        }
        &.open {
          border: 1px solid $primary-4;
        }
        .mat-button-wrapper {
          display: flex;
          align-items: center;
          justify-content: center;
          .btn-icon {
            display: flex;
            img {
              height: 20px;
              margin-right: 5px;
            }
          }
        }
        @media screen and (max-width: 767px) {
          margin: 7px 5px;
        }
      }
      .copymsg {
        padding: 5px;
        margin: 0;
        background-color: $primary-2;
        color: $white;
        border-radius: 10px;
      }
      .logo {
        height: 60px;
      }
      .main-footer {
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        bottom: 0;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        p {
          font-weight: 300;
          margin: 0;
          font-size: $fs-12;
          color: $semiblack;
          line-height: normal;
        }
      }
    }
  }
}
.green-snackbar {
  background: $primary-2;
  .mat-simple-snackbar {
    color: $white;
  }
}
