<ul class="steps-list">
  <li>
    <div class="step-header">
      <span>1</span>
      <h3>Enter your WhatsApp number</h3>
    </div>
    <p>
      Add your WhatsApp Number including your country code without the + symbol,
      Eg. If your country code is +91 and your WhatsApp Number is 9000012345
      then type 919000012345 below.
    </p>
  </li>
  <li>
    <div class="step-header">
      <span>2</span>
      <h3>Insert a pre-filled message (optional)</h3>
    </div>
    <p>
      Automatically include this text when a user clicks on your chat link,
      making it easier to start a conversation.
    </p>
  </li>
  <li>
    <div class="step-header">
      <span>3</span>
      <h3>Click on the “Generate WhatsApp Chat Link” button!</h3>
    </div>
    <p>Now you have your own WhatsApp link to share across the world.</p>
  </li>
</ul>
