<div class="form-main-inner">
  <div class="heading">
    <h1>WhatsApp Link Generator</h1>
  </div>
  <div class="form-div">
    <form class="form-tag" [formGroup]="WaLinkForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label>Your WhatsApp Number</mat-label>
            <input
              matInput
              placeholder="Enter value"
              formControlName="wanumber"
              type="number"
              (keypress)="keyPressNumbers($event)"
              (paste)="onPaste($event)"
            />
            <mat-error
              *ngIf="wanumber.errors?.['required'] && (wanumber.touched || wanumber.dirty)"
              >This field is required.</mat-error
            >
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label>Welcome Message (Optional)</mat-label>
            <textarea matInput formControlName="watext"></textarea>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button
            [disabled]="WaLinkForm.invalid"
            class="generate-btn"
            mat-raised-button
          >
            Generate WhatsApp Chat Link
          </button>
        </div>
      </div>
    </form>
    <ng-container *ngIf="generatedLink">
      <div class="result-box">
        <textarea
          class="result"
          [(ngModel)]="generatedLink"
          matInput
        ></textarea>

        <button
          class="btn-icon-main copy"
          mat-stroked-button
          [cdkCopyToClipboard]="generatedLink"
          (cdkCopyToClipboardCopied)="copyfun($event)"
          (click)="openSnackBar('Copied Successfully!!', '')"
        >
          <span class="btn-icon"
            ><img src="../../../../../assets/images/copy.svg"
          /></span>
          <span class="btn-text">Copy to clipboard</span>
        </button>

        <a
          target="_blank"
          class="btn-icon-main open"
          mat-stroked-button
          href="{{ generatedLink }}"
        >
          <span class="btn-icon"
            ><img src="../../../../../assets/images/whatsapp.svg"
          /></span>
          <span class="btn-text">Open on WhatsApp</span></a
        >
      </div>
    </ng-container>
  </div>
</div>
